{% extends 'base.html.twig' %}

{% block title %}Nouvelle Vidéo{% endblock %}

{% block body %}
    <h1 class="" align="center">Nouvelle vidéo</h1>

    {{ include('video/_form.html.twig') }}

    <a href="{{ path('app_home') }}" align="center">Retour sur la liste</a>
{% endblock %}
